* {
  font-family: "Press Start 2P", fantasy;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #fafafa;
  overflow: hidden;
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url("/imgs/background.png");
  background-repeat: repeat-x;
  animation: slideright 2000s infinite linear;
  -webkit-animation: slideright 2000s infinite linear;
  width: 100%;
  height: 200px;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(imgs/dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(imgs/cactus.png);
}

.score {
  position: absolute;
  display: flex;
  width: 100%;
  top: -550px;
  justify-content: center;

  font-size: 2rem;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  gap: 5rem;
  color: #666;
}

.game-over h1 {
  font-size: 4rem;
}

.game-over p {
  font-size: 1.225rem;
}

button {
  position: relative;
  display: block;
  margin: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  background-color: aquamarine;
  padding: 1.5rem 2rem;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #008791;
  border-radius: 5px;
}

button:active {
  top: 10px;
  color: #000;
  background-color: aqua;
}

button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}
